<!-- blog/templates/blog/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p><strong>Author:</strong> {{ post.author.username }}</p>
    <p><strong>Created on:</strong> {{ post.created_at }}</p>
    <div>
        <p>{{ post.body }}</p>
    </div>

    <a href="{% url 'post_list' %}">Back to Post List</a>

    {% if post.author == request.user %}
        <a href="{% url 'edit_post' post.id %}">Edit</a> |
        <a href="{% url 'delete_post' post.id %}">Delete</a>
    {% endif %}
{% endblock %}
